<h1> Items </h1>
<% unless @items.empty? %>
  <table>
    <thead>
      <tr>
        <td><b>Name</b></td>
        <td><b>Price</b></td>
        <td><b>Category</b></td>
      </tr>
    </thead>
    <tbody>
      <% @items.each do |item| %>
        <tr>
          <td><%= item.name %></td>
          <td>Rp<%= item.price %></td>
          <td><%= item.category unless item.category_id.nil? %></td>
          <td><%= link_to("Show", "/items/#{item.id}") %></td>
          <td><%= link_to("Edit", "/items/#{item.id}/edit") %></td>
          <td>
            <%= form_with(url: "/items/#{item.id}", method: "delete") do %>
              <%= submit_tag("Delete") %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
<h4>No data added yet</h4>
<% end %>
<%= link_to('Add New Item', '/items/new') %>